<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<extension point="org.eclipse.ui.startup">
   <startup class="com.example.app.lifecycle.AppLifeCycle"/>
</extension>

    <!--<extension
          point="org.eclipse.e4.workbench.lifecycle">
        <lifeCycle
              uri="bundleclass://com.example.app.lifecycle/com.example.app.lifecycle.AppLifeCycle">
        </lifeCycle>
    </extension>-->
</plugin>
