<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<extension point="org.eclipse.ui.startup">
   <startup class="com.gmail.aydinov.sergey.simple_debugger_plugin.PluginStarter"/>
</extension>
<!--<extension-->
<!--      point="org.eclipse.ui.views">-->
<!--   <view-->
<!--         name="Breakpoints"-->
<!--         icon="icons/breakpoints.png"  -->
<!--         category="com.gmail.aydinov.sergey.simple_debugger_plugin"-->
<!--         class="com.gmail.aydinov.sergey.simple_debugger_plugin.view.BreakpointsView"-->
<!--         id="com.gmail.aydinov.sergey.simple_debugger_plugin.view.breakpointsView">-->
<!--   </view>-->
<!--</extension>-->
<extension point="org.eclipse.ui.commands">
    <command
        id="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.commands.openDebugWindow"
        name="Open Debug Window"/>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
        commandId="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.commands.openDebugWindow"
        class="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.handlers.OpenDebugWindowHandler">
    </handler>
</extension>

<extension point="org.eclipse.ui.menus">
    <menuContribution
        locationURI="menu:window?after=additions">
        <command
            commandId="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.commands.openDebugWindow"
            label="Simple Debug Window"
            style="push"/>
    </menuContribution>
</extension>
<extension
     point="org.eclipse.ui.views">
  <view
        name="Debug Window"
        icon="icons/Sample.png"
        category="com.gmail.aydinov.sergey.simple_debugger_plugin"
        class="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.DebugWindow"
        id="com.gmail.aydinov.sergey.simple_debugger_plugin.ui.debugWindow">
  </view>
</extension>


</plugin>
